.tb-options-container {
    width: 640px;
    overflow-x: hidden; /* Required to hide horizontal scroll on Firefox */
    margin-left: auto;
    margin-right: auto;
    padding-top: 15px;

    #tb-options-main-title {
        height: 32px;
        margin-left: 15px;

        h3 {
            font-size: 2em;
            vertical-align: bottom;
            display: inline-block;
            color: $tiddlybench-blue;
            margin: 0 0;
        }

        img.tb-options-icon {
            vertical-align: top;
            display: inline-block;
            width: 32px;
            height: 32px;
            margin-right: 10px;
        }
    }
    .tb-options-form-info-box {
        padding: 5px;
        background-color: #f5f5f5;
        line-height: 1.5em;
        font-size: 12px;
        font-family: monospace;
        margin-top: 5px;
    }
    .tb-options-section {
        margin: 10px;
        padding: 10px;
        border: 1px solid gray;
        width: 600px;

        .tb-options-section-subtitle {
            font-size: 1em;
            color: #8a8a8a;
            margin-bottom: 10px;
        }

        legend {
            font-size: 1.5em;
            color: #696969;
        }

        label {
            width: 180px;
        }

        input {
            width: 100%;
            max-width: 400px;
        }

        select {
            padding-right: 18px;
        }
    }
}

.tb-success {
    font-weight: bold;
    color: green;
    font-size: 1.2em;
}

.tb-error {
    font-weight: bold;
    color: maroon;
    font-size: 1.2em;
}
