.tb-tabs-body {
    height: 100%;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}
.tb-tabs-wrapper {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    box-sizing: border-box;
    .tb-tabs-content {
        margin: 0 auto;
        background-color: white;
        width: 600px;
        padding: 20px;
        box-sizing: border-box;

        .tb-tabs-title-container {
            line-height: 48px;
            .tb-tabs-title {
                font-size: 2em;
                font-weight: bold;
            }
        }

        h3 {
            font-size: 1.5em;
            border-bottom: 1px solid gray;
            line-height: 1.5em;
        }
        div#tb-tiddler-form {
            input {
                width: 100%;
                max-width: 400px;
            }
            .tb-tiddler-form-button-container {
                text-align: center;
            }
        }
        .tb-tabs-tiddlers-list-container {
            margin-left: 15px;
            margin-right: 15px;
            #tb-tabs-list-form-container {
                margin-bottom: 10px;
                box-sizing: border-box;
                #tb-tabs-list-filter-input {
                    font-size: 1.3em;
                    width: 95%;
                    height: 1.8em;
                }
                #tb-tabs-list-tags-input {
                    width: 75%;
                }
            }
            #tb-tabs-list-add-new-tiddler-box {
                border: 2px solid gray;
                padding: 25px;
                cursor: pointer;

                #tb-tlan-notfound {
                    font-size: 1.3em;
                }
                #tb-tlan-title {
                    font-weight: bold;
                    font-size: 1.3em;
                }

                #tb-tlan-note {
                    color: #a3a3a3;
                }
            }
            ul {
                list-style: none;
                margin: 0 0;
                padding: 0 0;

                li {
                    margin: 0 0;
                    padding: 8px 5px;
                    border: 1px solid black;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-weight: bold;

                    &:hover {
                        background-color: lightgrey;
                    }
                }
            }
        }
    }
}
