.tb-popup-container {
    width: 400px;
    min-height: 300px;
}

.tb-error {
    color: maroon;
    font-weight: bold;
}

ul.tb-popup-main-menu {
    list-style-type: none;
    margin: 0px 0px;
    padding: 0px 0px;
    width: 100%;
    li {
        border: 1px solid gray;
        padding: 8px 8px;
        margin: 0 0;
        cursor: pointer;
        background-color: white;
        font-weight: bold;

        &:hover {
            background-color: #f2f7ff;
        }
    }
}

.tb-popup-quick-add-box {
    width: 100%;
    margin: 10px;
    border: 1px solid gray;
    padding: 10px;
}

/**
* Loading Animation
* Loader generously provided by: https://tobiasahlin.com/spinkit/
**/
.tb-loading-container {
    margin: 100px auto;
    width: 40px;
    height: 40px;
    position: relative;
}

.tb-loading-text {
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.tb-loading-cube1,
.tb-loading-cube2 {
    background-color: #333;
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0;
    left: 0;

    -webkit-animation: tb-cubemove 1.8s infinite ease-in-out;
    animation: tb-cubemove 1.8s infinite ease-in-out;
}

.tb-loading-cube2 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

@-webkit-keyframes tb-cubemove {
    25% {
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
            scale(0.5);
    }
    100% {
        -webkit-transform: rotate(-360deg);
    }
}

@keyframes tb-cubemove {
    25% {
        transform: translateX(42px) rotate(-90deg) scale(0.5);
        -webkit-transform: translateX(42px) rotate(-90deg) scale(0.5);
    }
    50% {
        transform: translateX(42px) translateY(42px) rotate(-179deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-179deg);
    }
    50.1% {
        transform: translateX(42px) translateY(42px) rotate(-180deg);
        -webkit-transform: translateX(42px) translateY(42px) rotate(-180deg);
    }
    75% {
        transform: translateX(0px) translateY(42px) rotate(-270deg) scale(0.5);
        -webkit-transform: translateX(0px) translateY(42px) rotate(-270deg)
            scale(0.5);
    }
    100% {
        transform: rotate(-360deg);
        -webkit-transform: rotate(-360deg);
    }
}
