.tb-tabs-body {
    height: 100%;
    width: 100%;
    margin: 0 0;
    padding: 0 0;
}
.tb-tabs-wrapper {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    box-sizing: border-box;
    .tb-tabs-content {
        margin: 0 auto;
        background-color: white;
        width: 600px;
        padding: 20px;
        box-sizing: border-box;

        .tb-tabs-title-container {
            line-height: 48px;
            .tb-tabs-title {
                margin-left: 10px;
                font-size: 2em;
                font-weight: bold;
            }
        }

        div#tb-tiddler-form {
            h3 {
                margin-left: 15px;
                border-bottom: 1px solid gray;
                line-height: 1.5em;
            }
            input {
                width: 100%;
                max-width: 400px;
            }
            .tb-tiddler-form-button-container {
                text-align: center;
            }
        }
        .tb-tabs-tiddlers-list-container {
            #tb-tabs-list-filter {
                width: 300px;
                font-size: 1.3em;
            }
            ul {
                list-style: none;
                margin: 0 0;
                padding: 0 0;

                li {
                    margin: 0 0;
                    padding: 8px 5px;
                    border: 1px solid black;
                    box-sizing: border-box;
                    cursor: pointer;
                    font-weight: bold;

                    &:hover {
                        background-color: lightgrey;
                    }
                }
            }
        }
    }
}
