<script id="tmpl-quickadd-tiddler" type="text/template">

    <div id="tb-popup-quickadd-box">
        <form class="pure-form ">
            <fieldset>
                <legend>Quick Add</legend>
                <div class="pure-control-group">
                </div>
                <div class="pure-control-group">
                    <textarea id="tb-popup-quickadd-contents"></textarea>
                </div>
                <div class="pure-control-group tb-popup-quickadd-button-container">

                    <label for="tb-popup-quickadd-type" >Quick Add to</label>
                    <select id="tb-popup-quickadd-type">
                        <option value="journal">Journal</option>
                        <option value="inbox">Inbox</option>
                    </select>
                    <label for="tb-popup-quickadd-blocktype">As</label>
                    <select id="tb-popup-quickadd-blocktype"></select>
                    <button type="button"
                            id="tb-popup-quickadd-submit-button"
                            class="pure-button pure-button-primary">Quick Add</button>
                </div>
            </fieldset>
        </form>
    </div>
</script>
<script id="tmpl-quickadd-blocktype-option" type="text/template">
    <option value="{{block_type}}">{{block_title}}</option>
</script>
