<script type="tmpl-quick-add-tiddler-settings" type="text/template">
    <div class="tb-popup-quick-add-box">
        <form class="pure-form pure-form-aligned">
            <fieldset>
                <legend>Quick Add</legend>
                <div class="pure-control-group">
                    <label for="tb-popup-quick-add-type">Add Tiddler To</label>
                    <select id="tb-popup-quick-add-type">
                        <option value="journal">Journal</option>
                        <option value="inbox">Inbox</option>
                    </select>
                </div>
                <div class="pure-control-group">
                    <textarea id="tb-popup-quickadd-contents"></textarea>
                </div>
                <div class="pure-control-group">
                    <button type="button" class="pure-button pure-button-primary">Quick Add</button>
                </div>
            </fieldset>
        </form>
    </div>
</script>
