<script id="tmpl-quickadd-tiddler" type="text/template">

    <div id="tb-popup-quickadd-box">
        <form class="pure-form ">
            <fieldset>
                <legend><span class="jam jam-plus-rectangle"></span>&nbsp;Quick Add to Tiddler</legend>
                <div class="pure-control-group">
                </div>
                <div class="pure-control-group">
                    <textarea id="tb-popup-quickadd-contents"></textarea>
                </div>
                <div class="pure-control-group tb-popup-quickadd-destination-container">

                    <label for="tb-popup-quickadd-type" >Quick Add to</label>
                    <select id="tb-popup-quickadd-type">
                        <option value="journal">Journal</option>
                        <option value="inbox">Inbox</option>
                    </select>
                    <label for="tb-popup-quickadd-blocktype">As</label>
                    <select id="tb-popup-quickadd-blocktype"></select>
                </div>
                <div class="pure-control-group tb-popup-quickadd-button-container">
                    <button type="button"
                            id="tb-popup-quickadd-submit-button"
                            class="tb-btn tb-btn-primary">Add Text</button>
                </div>
            </fieldset>
        </form>
    </div>
</script>
<script id="tmpl-quickadd-blocktype-option" type="text/template">
    <option value="{{block_type}}">{{block_title}}</option>
</script>
