<script id="tmpl-tiddler-form" type="text/template">
    <div class="pure-form pure-form-stacked">
        <div class="pure-control-group">
            <label for="tiddler-title">Tiddler Title</label>
            <input type="text" id="tiddler-title" placeholder="Tiddler Title" />
        </div>
        <div class="pure-control-group">
            <textarea name="tiddler-contents"></textarea>
        </div>
         <div class="pure-controls">
            <button type="button"
            id="tb-tiddler-form-cancel"
            class="pure-button pure-button-secondary">Cancel</button>
            <button type="button"
            id="tb-tiddler-form-save"
            class="pure-button pure-button-primary">Save</button>
        </div>
    </div>
    </form>
</script>
