<script type="text/template" id="tmpl-list-tiddlers">
    <div class="tb-tabs-tiddlers-list-container">
    <input type="text" id="tb-tabs-list-filter" placeholder="Filter...">
    <button id="tb-add-tiddler-button"><span class="jam jam-plus"></span> New Tiddler</button>
    <ul id="tb-tabs-list-tiddlers">{{tiddlers}}</ul>
    </div>
</script>

<script type="text/template" id="tmpl-list-tiddlers-item">
    <li id="tb-tabs-list-tiddler-{{id}}"
    class="tb-tabs-tiddlers-list-item"
    data-tiddler-id="{{id}}">{{tiddler_title}}</li>
</script>

<script type="text/template" id="tmpl-list-add-new-tiddler-item">
    <li id="tb-tabs-list-add-new-tiddler-item"
        class="tb-tabs-tiddlers-list-item"
        >{{tiddler_title}}</li>
</script>
