<script type="text/template" id="tmpl-list-tiddlers">
    <div class="tb-tabs-tiddlers-list-container">
    <h3><span class="jam jam-search"></span>&nbsp;Find or Create a Tiddler</h3>
    <input type="text" id="tb-tabs-list-filter" placeholder="Start typing the name of the tiddler...">
    <div id="tb-tabs-list-add-new-tiddler-box" class="animate-hidden">Create a Tiddler</div>
    <ul id="tb-tabs-list-tiddlers">{{tiddlers}}</ul>
    </div>
</script>

<script type="text/template" id="tmpl-list-tiddlers-item">
    <li id="tb-tabs-list-tiddler-{{id}}"
    class="tb-tabs-tiddlers-list-item"
    data-tiddler-id="{{id}}">{{tiddler_title}}</li>
</script>
