<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>TiddlyBench Options</title>
        <link rel="stylesheet" href="../css/pure-min.css" />
        <link rel="stylesheet" href="../css/tiddlybench.css" />
    </head>
    <body>
        <div class="tb-options-container">
            <form id="options-form" class="pure-form pure-form-aligned">
                <h3>TiddlyBench Options</h3>
                <div id="root"></div>
                <!-- Partials (gulp task compiles these)-->
                <partial src="main-form-parts.html"></partial>
                <partial src="server-settings-extras.html"></partial>
                <partial src="reset-extras.html"></partial>
            </form>
        </div>

        <!-- Scripts-->
        <script src="../lodash.min.js"></script>
        <script src="options.js"></script>
    </body>
</html>
