<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="../css/pure-min.css" />
        <link rel="stylesheet" href="popup.css" />
    </head>

    <body>
        <div class="tb-popup-container">
            <div id="root"></div>
        </div>
        <partial src="loading-animation.html"></partial>
        <partial src="main-menu.html"></partial>
        <partial src="tiddler-form.html"></partial>
        <script src="popup.js"></script>
    </body>
</html>
