<div class="tb-options-section">
    <fieldset>
        <legend>Block Settings</legend>
        <div class="tb-options-section-subtitle">
            Blocks are used to wrap text that you add via the Context Menu
            (right clicking) or the Quick Add box that appears in the popup when
            you click the TiddlyBenc icon in the toolbar.
        </div>
        <div class="pure-control-group">
            <label for="block_quote_prefix">Quote Block Prefix</label>
            <input class="pure-input" id="block_quote_prefix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_quote_suffix">Quote Block Suffix</label>
            <input class="pure-input" id="block_quote_suffix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_code_prefix">Code Block Prefix</label>
            <input class="pure-input" id="block_code_prefix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_code_suffix">Code Block Suffix</label>
            <input class="pure-input" id="block_code_suffix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_paragraph_prefix">Paragraph Prefix</label>
            <input class="pure-input" id="block_paragraph_prefix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_paragraph_suffix">Paragraph Suffix</label>
            <input class="pure-input" id="block_paragraph_suffix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_ulitem_prefix">List Item Prefix</label>
            <input class="pure-input" id="block_ulitem_prefix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_ulitem_suffix">List Item Suffix</label>
            <input class="pure-input" id="block_ulitem_suffix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_olitem_prefix">Numbered Item Prefix</label>
            <input class="pure-input" id="block_olitem_prefix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="block_olitem_suffix">Numbered Item Suffix</label>
            <input class="pure-input" id="block_olitem_suffix" type="text" />
        </div>
    </fieldset>
</div>
