<div class="tb-options-section">
    <fieldset>
        <legend>Bookmark Settings</legend>
        <div class="pure-control-group">
            <label for="bookmark_prefix">Inbox Text Prefix</label>
            <input class="pure-input" id="bookmark_prefix" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="bookmark_suffix">Inbox Text Suffix</label>
            <input class="pure-input" id="bookmark_suffix" type="text" />
        </div>

        <div class="pure-form-message tb-options-form-info-box">
            You can use the Format and DateFormat options in the bookmark
            prefix/suffix.
        </div>
    </fieldset>
</div>
