<div class="tb-options-section">
    <fieldset>
        <legend>TiddlyWiki Connection Settings</legend>
        <div class="tb-options-section-subtitle">
            The settings for your TiddlyWiki server.
        </div>
        <div class="pure-control-group">
            <label for="url">TiddlyWiki Server URL</label>
            <input id="url" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="username">TiddlyWiki Username</label>
            <input id="username" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="password">TiddlyWiki Password</label>
            <input id="password" type="password" />
        </div>
        <span
            id="tb-connection-success-message"
            class="pure-form-message tb-success"
            style="display:none;"
            >Successfully connected to server.</span
        >
        <span
            id="tb-connection-error-message"
            class="pure-form-message tb-error"
            style="display:none;"
        ></span>
        <div>
            <button type="button" id="tb-test-connection">
                Test Connection
            </button>
        </div>
    </fieldset>
</div>
