<div class="tb-options-section">
    <fieldset>
        <legend>Context Menu</legend>
        <div class="tb-options-section-subtitle">
            The TiddlyBench Context Menu appears when you right click on
            selected text in a webpage.
        </div>
        <div class="pure-control-group">
            <label for="context_menu_visibility"
                >Show Context Menu Options?</label
            >
            <select id="context_menu_visibility">
                <option value="on">On</option>
                <option value="off">Off</option>
            </select>

            <span class="pure-form-message"
                >The context menu options appear when you right click on a web
                page.</span
            >
        </div>
    </fieldset>
</div>
