<div class="tb-options-section">
    <fieldset>
        <legend>Context Menu</legend>
        <div class="tb-options-section-subtitle">
            The TiddlyBench Context Menu appears when you right click on
            selected text in a webpage.
        </div>
        <div class="pure-control-group">
            <label for="contextmenu_num_custom_destinations"
                >Number of custom destination tiddlers in context menu?</label
            >
            <select id="contextmenu_num_custom_destinations">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
    </fieldset>
</div>
