<div class="tb-options-section">
    <fieldset>
        <legend>Context Menu</legend>
        <div class="tb-options-section-subtitle">
            The TiddlyBench Context Menu appears when you right click on
            selected text in a webpage.
        </div>
        <div class="pure-control-group">
            <label for="context_menu_visibility"
                >Show Context Menu Options?</label
            >
            <select id="context_menu_visibility">
                <option value="on">On</option>
                <option value="off">Off</option>
            </select>
        </div>
        <div class="pure-control-group">
            <label for="selection_inbox_text_prefix">Inbox Text Prefix</label>
            <input
                class="pure-input"
                id="selection_inbox_text_prefix"
                type="text"
            />
        </div>
        <div class="pure-control-group">
            <label for="selection_inbox_text_suffix">Inbox Text Suffix</label>
            <input
                class="pure-input"
                id="selection_inbox_text_suffix"
                type="text"
            />
        </div>
        <div class="pure-control-group">
            <label for="selection_journal_text_prefix"
                >Journal Text Prefix</label
            >
            <input
                class="pure-input"
                id="selection_journal_text_prefix"
                type="text"
            />
        </div>
        <div class="pure-control-group">
            <label for="selection_journal_text_suffix"
                >Journal Text Suffix</label
            >
            <input
                class="pure-input"
                id="selection_journal_text_suffix"
                type="text"
            />
        </div>
        <div>
            <span class="pure-form-message tb-options-form-info-box">
                Line breaks are added via the {[F|BR]} code.
                <br />
                You can add regular TiddlyWiki markdown codes. For example <<<
                is the quote block code. <br />TiddlyWiki markdown for the link
                to the page where the selection is made can be added via:
                {[T|SOURCE_LINK]}
            </span>
        </div>
    </fieldset>
</div>
