<div class="tb-options-section">
    <fieldset>
        <legend>Quick Add Settings</legend>
        <div class="tb-options-section-subtitle">
            The Quick Add box is available when you click on the TiddlyBench
            icon in your browser's toolbar.
        </div>
        <div class="pure-control-group">
            <label for="quickadd_inbox_text_prefix">Inbox Text Prefix</label>
            <input
                class="pure-input"
                id="quickadd_inbox_text_prefix"
                type="text"
            />
        </div>
        <div class="pure-control-group">
            <label for="quickadd_inbox_text_suffix">Inbox Text Suffix</label>
            <input
                class="pure-input"
                id="quickadd_inbox_text_suffix"
                type="text"
            />
        </div>
        <div class="pure-control-group">
            <label for="quickadd_journal_text_prefix">
                Journal Text Prefix
            </label>
            <input
                class="pure-input"
                id="quickadd_journal_text_prefix"
                type="text"
            />
        </div>
        <div class="pure-control-group">
            <label for="quickadd_journal_text_suffix">
                Journal Text Suffix
            </label>
            <input
                class="pure-input"
                id="quickadd_journal_text_suffix"
                type="text"
            />
        </div>
        <div>
            <span class="pure-form-message tb-options-form-info-box">
                Line breaks are added via the {[F|BR]} code.
            </span>
        </div>
    </fieldset>
</div>
