<div class="tb-options-section">
<fieldset>
    <legend>Quick Add Settings</legend>
    <div class="pure-control-group">
        <label for="inbox_tiddler_title">Inbox Tiddler</label>
        <input class="pure-input-2-3"
               id="inbox_tiddler_title" 
               type="text" 
               />
    </div>
    <div class="pure-control-group">
        <label for="journal_tiddler_title">Journal Tiddler</label>
        <input class="pure-input-2-3"
               id="journal_tiddler_title" 
               type="text" />
    </div>
    <div class="pure-control-group">
        <label for="journal_tiddler_tags">Journal Tiddler default tags</label>
        <input class="pure-input-2-3"
               id="journal_tiddler_tags" 
               type="text" />
        <span class="pure-form-message">This is a required field.</span>
        <span class="pure-form-message tb-options-form-info-box">
            You can add most TiddlyWiki DateFormat options to the Inbox or Journal Tiddler Title
            <br/><a href="https://tiddlywiki.com/static/DateFormat.html">Click here for the list of all TiddlyWiki DateFormat options.</a>
            <br/>'wYYYY', 'wYY', 'XXX', '0XXX', 'TZD', and '[UTC]', are not supported.</a>
        </span>
    </div>
</fieldset>
</div>