<div class="tb-options-section">
    <fieldset>
        <legend>TiddlyWiki Connection Settings</legend>
        <div class="tb-options-section-subtitle">
            The settings for your TiddlyWiki server.
        </div>
        <div class="pure-control-group">
            <label for="server_url">TiddlyWiki Server URL</label>
            <input id="server_url" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="server_username">TiddlyWiki Username</label>
            <input id="server_username" type="text" />
        </div>
        <div class="pure-control-group">
            <label for="server_password">TiddlyWiki Password</label>
            <input id="server_password" type="password" />
        </div>
        <span
            id="tb-connection-success-message"
            class="pure-form-message tb-success"
            style="display:none;"
            >Successfully connected to server.</span
        >
        <span
            id="tb-connection-error-message"
            class="pure-form-message tb-error"
            style="display:none;"
        ></span>
        <div>
            <button type="button" id="tb-test-connection">
                Test Connection
            </button>
        </div>
        <div class="pure-form-message tb-options-form-info-box">
            IMPORTANT: If a "Sign In" popup window appears click Cancel. The box
            simply means that the Username or Password is wrong.
            <br />Why click cancel? The "Sign in" box will endlessly appear and
            will not configure TiddlyBench. <br />This is confusing and it is
            dumb. This is a browser "feature" that does not work with
            TiddlyBench.
        </div>
    </fieldset>
</div>
