<script type="text/template" id="tmpl-server-settings-extras">
    <span
        id="tb-connection-success-message"
        class="pure-form-message tb-success"
        style="display:none;"
        >Successfully connected to server.</span
    >
    <span
        id="tb-connection-error-message"
        class="pure-form-message tb-error"
        style="display:none;"
    ></span>
    <div>
        <button type="button" id="tb-test-connection">
            Test Connection
        </button>
    </div>
</script>
